
        

<div class="logo">
    <img src="https://www.alianza.com.co/o/alianza-theme/images/alianza/layout_set_logo.png" alt="Alianza Logo">
</div>
<div class="pad">
    <mat-nav-list>
        <h3>Clients</h3>
        <mat-list-item>
            <mat-icon>person_outline</mat-icon>
            <span>Clients</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>history</mat-icon>
            <span>Client Look History</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>lock</mat-icon>
            <span>Emergency Pin Configuration</span>
        </mat-list-item>
        <mat-list-item>
            <mat-icon>history_toggle_off</mat-icon>
            <span>Emergency Pin History</span>
        </mat-list-item>
    </mat-nav-list>
</div>
           