<h2 mat-dialog-title>{{data ? 'Editar Material' : 'Agregar material'}}</h2>
<div mat-dialog-content style="margin: 5%;">
    <form  [formGroup]="materialForm" (ngSubmit)="guardar()">
        <mat-grid-list cols="2" rowHeight="100px">
            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre">
                </mat-form-field> 
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                  <mat-label>Descripción</mat-label>
                  <input matInput formControlName="descripcion">
              </mat-form-field> 
          </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo</mat-label>
                    <input matInput formControlName="tipo">
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                  <mat-label>Fecha de Compra</mat-label>
                  <input matInput [matDatepicker]="pickerCompra" formControlName="fechaCompra">
                  <mat-datepicker-toggle matSuffix [for]="pickerCompra"></mat-datepicker-toggle>
                  <mat-datepicker #pickerCompra></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                  <mat-label>Fecha de Venta</mat-label>
                  <input matInput [matDatepicker]="pickerVenta" formControlName="fechaVenta">
                  <mat-datepicker-toggle matSuffix [for]="pickerVenta"></mat-datepicker-toggle>
                  <mat-datepicker #pickerVenta></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Ciudad</mat-label>
                <mat-select formControlName="idCiudad">
                  <mat-option *ngFor="let option of ciudades" [value]="option.id">
                    {{ option.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                  <mat-option *ngFor="let option of estados" [value]="option.value">
                    {{ option.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancelar</button>
    <button mat-button (click)="guardar()" [disabled]="!materialForm.valid" type="submit" class="ok-button">Guardar</button>
</div>